<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        p {
        background-color: orange;
            padding: 10px;
            border-radius: 5px;
        }

        h1 {
            text-align: center;
            color:blue;
            text-transform: capitalize;   
            }
    </style>
    
    <h1>welcome I am a website developer my first name is raoufbenadda</h1>

    <p>The numbers are: <%= numbers %></p>



</body>
</html>